~ <%= l.sq_footage %> sq feet, ~ <%= l.ceiling_height %> ft ceilings, <%='convertable, ' if l.convertable%><%="#{l.n_bathrooms} bathroom(s)" %>, 
<%= l.separate_kitchen? ? 'separate kitchen' : 'kitchenette' %>, <%=l.floor_type%> floors, <%=l.dogs_allowed? ? 'dogs ok' : 'no dogs'%>, <%=l.cats_allowed? ? 'cats ok' : 'no cats'%>


<span style="color:green">Features:
<%=
{ 
  'multi-level'=>l.multi_level?, 
  'penthouse'=>l.penthouse?, 
  'private entrance'=>l.private_entrance?,  
  'private back yard' => l.private_back_yard?,  
  'balcony' => l.balcony?,
  'patio' => l.patio?,
  'loft' => l.loft?,
  'good heat' => (l.heat_q == 0),
  'central A/C' =>l.central_ac,
  'quiet neighboors' => (l.nbors_noise_level == 0),
  'quiet street' => (l.street_noise_level == 0),
  'new appliances' => (l.appliances_q == 0),
  'new bathroom' => (l.bathroom_q == 0),
  'excellent maintenance' => (l.maintenance_q == 0),
  'rent stabilized' => (l.rent_stabilized),
  'rent controlled' => (l.rent_controlled)
}.keys_to_sentence_sens_false_values%>
</span>

<span style="color:red">
Problems:
<%=
{
  'poor heat' => (l.heat_q == 2),
  'poor maintanance' => (l.maintenance_q == 2),
  'loud neighboors' => (l.nbors_noise_level == 2),
  'noisy street' => (l.street_noise_level == 2),
  'roaches' => l.roaches?,
  'roadents' => l.rodents?,
  'ants' => l.ants?,
  'bed bugs' => l.bedbugs?,
}.keys_to_sentence_sens_false_values%>
</span>
