<%
  lid = listing.id
  l = listing
  additional_header_content ||= nil
%>
<!--listing-->
<div id="listing_<%=lid%>">

<!--lisiting_heading-->
  <div class="listing_heading" id="listing_heading_<%=lid%>">
  
<!--favorites star-->
                  
    <%= render :partial=>'favorites_star', :locals=>{:page=>page, :lit=>l.favorite?, :id=>lid, :listing=>l} %>
                  
<!--/favorites star-->
    
<!--title-->
    <%content_tag :span,
            :onclick => ["this.style.fontWeight='normal';", 
                          visual_effect(:toggle_slide, "listing_content_#{lid}", :duration => 0.2 ), 
                          page.hide("unread_icon_#{lid}"),
                          page.show("read_icon_#{lid}"),
                          remote_function(:url=>listing_readings_url(listing), :method=>:post)],
            :id => "listing_title_#{lid})" do %>

      <%content_tag :h1,
      :style=>"#{ l.unread? ? 'font-weight:bold;':'font-weight:normal;'}", 
      :id=>"header_#{lid}" do%>

      <%=l.rent_range%> <%=l.nhood%> <%=l.apt_type%>, avail. <%=l.avail_date.strftime("%b %d, '%y")%> 

      <%end%>
<!--/title-->  
      
                
                
    <%end%>
                    
    <h2><%=l.address%> <%=image_tag "#{listing.popularity}stars.gif", :title=>"Popularity"%> Posted: <%=l.created_at.strftime("%b %d, '%y")%></h2>
     
    <%=render :partial=>additional_header_content if additional_header_content%>
    
               
  </div>
<!--lisiting_heading-->             
             
<!--lisiting_content-->       
  <div id="listing_content_<%= lid %>">
    
    <%if l.flag_alert?%>
    Warning: 
      <%if l.broker_alert?%>
        This listing was likely created by a broker.
      <%elsif l.na_alert?%>
        This apartment is likely no longer available.
      <%elsif l.bogus_alert?%>
         This listing is likely non-existant.
      <%end%>
    <%end%>
   
     
      <%if current_user.has_photo_access?%>
          <%if l.has_photos?%> 
              <%=render :partial => 'shared/photos', :locals => {:l=>l}%>
          <%else%>
             No photos yet :( <a href="#">Request apt info</a>
          <%end%>
      <%else%>
        Photos:<%=link_to_function 'View photos', [page.toggle("apt_info_locked_dialog_#{l.id}")]%>
      <%end%>
 
      <span class="section_header">Basics:</span>
      
      <span class="section_header">Apartment:</span>
      <%if current_user.has_apt_info_access?%>
          <%if l.has_apt_info?%> 
              <%=render :partial => 'shared/apt_info', :locals => {:l=>l}%>
          <%else%>
             No apt info yet :( <a href="#">Request apt info</a>
          <%end%>
      <%else%>
        <%=link_to_function 'View apt details', [page.toggle("apt_info_locked_dialog_#{l.id}")]%>
      <%end%>

      <span class="section_header">Room(s):</span>
      <%if current_user.has_room_info_access?%>
          <%if l.has_room_info?%> 
              <%=render :partial => 'shared/apt_info', :locals => {:l=>l}%>
          <%else%>
             No room info yet :( <a href="#">Request room info</a>
          <%end%>
      <%else%>
        <%=link_to_function 'View apt details', [page.toggle("apt_info_locked_dialog_#{l.id}")]%>
      <%end%>

      
      <span class="section_header">Building:</span>
      <%if current_user.has_bld_info_access?%>
          <%if l.has_bld_info?%> 
              <%=render :partial => 'shared/bld_info', :locals => {:l=>l}%>
          <%else%>
             No bld ifo :( <a href="#">Request building info</a>
          <%end%>
      <%else%>
        <%=link_to_function 'View apt details', [page.toggle("apt_info_locked_dialog_#{l.id}")]%>
      <%end%>

      <b>Posted By:</b> <%= l.user.username %>
      
      <%=render :partial=>'shared/comment_list', :locals=>{:comments=>l.comments}%>
        
      <%=link_to_function 'See all', [page.toggle("comments_dialog_#{l.id}")]%>

<!--tool bar-->

<!-- read checkbox-->
      
      <%= render :partial=>'read_checkbox' %>
    
<!--/read checkbox-->


    
    <%toolbar_buttons.each do |name, title|%>
      <%tag :span, 
              :id=>"#{name}_button_#{lid}", 
              :onclick=>[page.toggle("#{name}_dialog_#{lid}")],
              :style=>"cursor:pointer;",
              :title=>title do %>
      <%=image_tag "#{name}_button.gif"%>
    <%end%>
      
    <%=title%>
      
<!--<%=dialog_name%> popup-->

<%=render_dialog "#{name}_dialog", page, lid%>

<!--/<%=dialog_name%> popup-->

      
      <%end%>

<!--/tool bar-->

   </div>
<!--/listing content-->
</div>
<!--/listing-->  
