<%update_page do |page|%>
<!--listings list-->

<%if 0==@listings.size%>
  No listings found
<%else%>

  <%=render_dialog 'basic_info_locked', page unless current_user.basic_access?%>
  
  <%=render_dialog 'apt_info_locked', page unless current_user.apt_info_access?%>
  
  <%=render_dialog 'bld_info_locked', page unless current_user.bld_info_access?%>

  <div id="pagination">
    page <%=remote_paginating_links @listings, {:window_size => 5, :auto_submit_form => true, :form_name=>'search_form', :set_hidden_field=>true, :hidden_field_name=>'custom_options[page]' }%>
  </div>
  
  <%=render :partial => '/shared/listing', 
          :locals=>{
            :toolbar=>[
              'flag_listing'=>'Flag listing',
              'send_by_email'=>'Send to friend',
              'add_comment'=>'Comment'], 
            :page=>page},
          :collection => @listings-%>
  <%if not current_user.basics_access?%>
  
      <%=link_to_function 'View more listings', [page.toggle("basic_info_locked_popup")]%>
      
  <%end%>

<%end%>


<!--/listings list-->
<%end%>