<!--listing-->

<%
  lid = listing.id
  l = listing
  

%>

<div class="listing" id="listing_<%=lid%>">

  <!--standart dialogs-->
  <%toolbar.each do |dialog_name, title|%>
      
      <!--<%=dialog_name%> popup-->
      <%=render_dialog dialog_name_popup, page, lid%>
      <!--/<%=dialog_name%> popup-->

  <%end%>
  <!--/standart dialogs-->
  
  <div class="listing_heading" id="listing_heading_<%=lid%>>
  
    <!--favorites star-->
                  
    <%= render :partial=>'favorites_star' %>
                  
    <!--/favorites star-->
    
    <!--title-->
    <%content_tag( 
            :span,
            :onclick => ["this.style.fontWeight='normal';", 
                          visual_effect(:toggle_slide, "listing_content_#{lid}", :duration => 0.2 ), 
                          page.hide("unread_icon_#{lid}"),
                          page.show("read_icon_#{lid}"),
                          remote_function(:url=>listing_readings_url(listing), :method=>:post)],
            :id => "listing_title_#{lid})" do %>

      <%=content_tag( 
      :h2,
      :style=>"#{ l.unread? ? 'font-weight:bold;':'font-weight:normal;'}", 
      :id=>"header_#{lid}") do%>

        <%=l.rent%> <%=l.nhood%> <%=l.apt_type%>, avail. <%=l.avail_date.strftime("%b %d, '%y")%> 

      <%end%>
    <!--/title-->  
      
                
                
    <%end%>
                    
               
    <%=l.address%> <%=render :partial=>"listing/rating_stars", :locals=>{:rating=>calculate_popularity(l.favorites.count)}%> Posted: <%=l.created_at.strftime("%b %d, '%y")%>
     
    <%=render :partial=>additional_header_content unless additional_header_content.nil?%>
    
               
  </div><!--heading-->             
             
      
  <div id="listing_content_<%= lid %>">


  
    
    <%if l.flag_alert?%>
    Warning: 
      <%if l.broker_alert?%>
        This listing is likely a broker listing.
      <%elsif l.na_alert?%>
        This apartment is probably no longer available.
      <%elsif l.bogus_alert?%>
         This listing is likely non-existant.
      <%end%>
    <%end%>

   
      Apt info:

      <%if current_user.apt_info_access?%>
          <%if l.listing_info?%> 
              <%=render :partial => 'shared/apt_info', :locals => {:l=>l}%>
          <%else%>
             Apt details were not provided. <a href="#">Request detailed info</a>
          <%end%>
      <%else%>
        <%=link_to_function 'View apt details', [page.toggle("apt_info_locked_popup_#{l.id}")]%>
      <%end%>

      Building info:
      <%if current_user.apt_info_access?%>
          <%if l.listing_info?%> 
              <%=render :partial => 'shared/apt_info', :locals => {:l=>l}%>
          <%else%>
             Apt details were not provided. <a href="#">Request detailed info</a>
          <%end%>
      <%else%>
        <%=render :partial=>'shared/locked_listing_info', :locals=>{:page=>page, :listing=>listing}%>
      <%end%>


      <b>Posted By:</b> <%= l.user.username %>
      <%=render :partial=>'shared/comment_list', :locals=>{:comments=>l.comments}%>
        
      <%=link_to_function 'See all', [page.toggle("comments_popup_#{l.id}")]%>

      <!-- read checkbox-->
      
      <%= render :partial=>'read_checkbox' %>
    
      <!--/read checkbox-->
    
    <%toolbar.each do |button_name, title|%>
    <%=image_tag(
                "#{button_name}_button.gif", 
                :id=>"#{button_name}_button_#{lid}", 
                :onclick=>[page.toggle("#{button_name}_popup_#{lid}")],
                :style=>"cursor:pointer;",
                :title=>title) 
    -%><%=title%>
      
    <%end%>

     
   </div><!--listing content-->
</div><!--listing-->  
