<% remote_form_for(
        :search_listing,
        :url => search_listings_path,
        :complete => "$('search_spinner').hide();" ,
        :before => "$('search_spinner').show();",
        :update => 'search_results',
        :html=>{:id => 'search_form'}) do |f|
%>

<%=image_tag "spinner.gif", :id=>"search_spinner", :style=>"display:none", :width => 15, :height => 15 %>

<% content_tag 'div', :class => 'leftsearch_box', :style =>'cursor:pointer', :onclick => "Element.toggle('leftsearch_neighborhood');" do %>
    <% content_tag 'div', :class => 'leftsearch_header' do -%>
      <span style="float:left">Neighborhood(s)</span><span style="float:right">>&nbsp;</span>
    <% end -%>&nbsp;
<% end -%>


<div id="leftsearch_neighborhood" class="leftsearch_box" style="display:none; position:absolute; top:-27px; left:155px; opacity:0.9;width:140px;z-index:1500">
  <%= image_tag 'cross.png', :style => 'font-weight:bold;position:absolute;top:5px;left:128px;cursor:pointer;', :onclick => "Element.toggle('leftsearch_neighborhood');"%>
  
    
   <input type="checkbox" checked="true" id="all_hoods" name="nhoods[]" value="all" onclick="$$("input[name='nhoods[]']").each(function(checkbox){checkbox.checked=all_checkbox.checked});if(this.checked){<%= auto_submit('search_form')%>}">Select/Unselect All
    <!--"$$('#nhood').each(function(value){alert(checkbox.id)});checkbox.checked=!this.checked;}) "-->
    <% Nhood.find(:all).each do |nhood| %>
    <input type="checkbox" checked="true" id="nhood_<%=nhood.id%>" name="nhoods[]" onchange="<%= auto_submit('search_form')%>" value="<%=nhood.id%>"/><%=nhood.name%>
    <% end %>
  
</div>

<h2>Basics:</h2>

<h3>Apt Type:</h3>
<span id="show_type">studio - 5 bed+ </span>

<%= slider :search_listing, :apt_type_id, 
  :no_of_sliders=>2,  
  :range=>0..5,
  :values=>[0, 1, 2, 3, 4, 5],
  :slide=>"$('show_type').innerHTML= (value[0] ? 'studio' : value[0]) +' bdr to '+value[1] + (5 == value[1] ? 'bdr+' , 'bdr'); ",
  :change=>auto_submit('search_form'),
  :restricted=>true
-%>
    
Avail : <%= f.calendar_date_select :avail_date, :size => 9, :popup => "force", :onchange=> auto_submit('search_form')%>
              
              
<h3>Rent Range</h3>
<span id="show_rent">$0 to $5000+</span>
				
<%= slider :search_listing, :sq_footage, 
  :no_of_sliders=>2,  
  :range=>0..5000,
  :values=>[0, 200, 400, 600, 800, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3500, 4000, 4500, 5000],
  :slide=>"$('show_rent').innerHTML= '$'+value[0]+' to $'+value[1] + (5000 == value[1] ? '+' , ''); ",
  :change=>auto_submit('search_form'),
  :restricted=>true
-%>



<h3>Size</h3>
&gt;&nbsp;<span id="show_sqft"> 0</span> ft<sup>2</sup>
<%= slider :search_listing, :sq_footage, 
      :on_change=> "", 
      :range=>0..2500,
      :values=>[0,200, 400, 600, 750, 1000,1250,1500,2000,2500],
      :slide=>"$('show_sqft').innerHTML=value;",
      :change=>auto_submit('search_form')
-%>
        
		   
<h3>Ceiling height</h3>
&gt;&nbsp;<span id="show_c_height">> 0</span> ft
<%= slider :search_listing, :ceiling_height, 
      :on_change=> "", 
      :range=>8..20,
      :values=>[0, 10, 12, 14, 16, 18,20],
      :slide=>"$('show_c_height').innerHTML=value;",
      :change=>auto_submit('search_form')
-%>
         
<h3>No of bathrooms</h3>
&gt;&nbsp;<span id="show_bath_no">> 0</span> ft
<%= slider :search_listing, :ceiling_height, 
      :on_change=> "", 
      :range=>1..3,
      :values=>[1, 2, 3],
      :slide=>"$('show_bath_no').innerHTML= value",
      :change=>auto_submit('search_form')
-%>       
     
<h2>Apartment Details</h2> 
<%=gen_checkboxes :convertable,
        :separate_kitchen,
        [:maintenance_q_id, MaintenanceQ.most_desirable, 'Excellent maintenance'],
        :convertable,
        [:maintenance_q_id, MaintenanceQ.most_desirable, 'Excellent Maintenance'],
        [:appliances_q_id, AppliancesQ.most_desirable, 'Excellent Appliances'],
        [:bathroom_q_id, BathroomQ.most_desirable, 'Excellent Bathroom'],
        [:heat_q_id, HeatQ.most_desirable, 'Good Heating'],
        [:ac_type_id, 1, A/C],
        [:floor_type_id, FloorType.most_desirable, 'Floor - Hardwood'],
        [:street_noise_level_id, StreetNoiseLevel.most_desirable, 'Quiet Street'],
        [:nbors_noise_level_id, NborsNoiseLevel.most_desirable, 'Quiet Neighbors'],
        :pests_free,
        [:cellphone_q_id, CellphoneQ.most_desirable, 'Good cell coverage'],
        :rent_controlled,
        :rent_stabilized,
        :multi_level,
        :penthouse,
        :loft,
        :patio,
        :balcony,
        :private_entrance
%>

<h2>Building Details</h2> 
<%=gen_checkboxes :elevator,
        :laundry,
        :gym,
        :doorman,
        :cats_allowed,
        :dogs_allowed,
        :roof_access
%>              

<%=f.hidden_field :page, :value=>1%>
					

<% end %>
				

